<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9768b3">  <td>20/03/07 16:57:51</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCaseFailedClass.PillowBookingFailed()[pri:1, instance:Gojek.testcasePackage.TestCaseFailedClass@185d8b6]">PillowBookingFailed</td> 
  <td>main@1132547352</td>   <td></td> </tr>
<tr bgcolor="659282">  <td>20/03/07 16:57:14</td>   <td>-36771</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCaseSuccessClass.PillowBookingSuccess()[pri:0, instance:Gojek.testcasePackage.TestCaseSuccessClass@617faa95]">PillowBookingSuccess</td> 
  <td>main@1132547352</td>   <td></td> </tr>
<tr bgcolor="92ec79">  <td>20/03/07 16:56:57</td>   <td>-53515</td> <td title="&gt;&gt;BrowserFactory.launchBrowser()[pri:0, instance:Gojek.testcasePackage.TestCaseFailedClass@185d8b6]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1132547352</td>   <td></td> </tr>
<tr bgcolor="92ec79">  <td>20/03/07 16:57:51</td>   <td>244</td> <td title="&lt;&lt;BrowserFactory.teardown()[pri:0, instance:Gojek.testcasePackage.TestCaseFailedClass@185d8b6]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1132547352</td>   <td></td> </tr>
</table>
