<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bcb197">  <td>20/03/07 19:20:52</td>   <td>0</td> <td title="&gt;&gt;BrowserFactory.launchBrowser()[pri:0, instance:Gojek.testcasePackage.TestCaseSuccessClass@25d250c6]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@70807318</td>   <td></td> </tr>
<tr bgcolor="d86b78">  <td>20/03/07 19:21:10</td>   <td>18079</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCaseSuccessClass.PillowBookingSuccess()[pri:0, instance:Gojek.testcasePackage.TestCaseSuccessClass@25d250c6]">PillowBookingSuccess</td> 
  <td>main@70807318</td>   <td></td> </tr>
<tr bgcolor="9a8684">  <td>20/03/07 19:21:40</td>   <td>47459</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCaseFailedClass.PillowBookingFailed()[pri:1, instance:Gojek.testcasePackage.TestCaseFailedClass@4df50bcc]">PillowBookingFailed</td> 
  <td>main@70807318</td>   <td></td> </tr>
<tr bgcolor="bcb197">  <td>20/03/07 19:22:02</td>   <td>70095</td> <td title="&lt;&lt;BrowserFactory.teardown()[pri:0, instance:Gojek.testcasePackage.TestCaseSuccessClass@25d250c6]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@70807318</td>   <td></td> </tr>
</table>
